<!DOCTYPE html>
<html>
    <head>
        <title>Swarm-DemoRuby Sample App | <%= yield(:title) %></title>
    </head>
    <body>
	    <h1>Swarm-Demo</h1> <br><br>
        <p>  This is a demonstration of a <span id="labyrinth">swarm</span> (hopefully) finding the way out of a labyrinth...</p>
        <div id="blub" huhu></div>
    </body>
</html>

